---
import type { CompVariant } from '@/lib/comps';

type Props = {
  class?: string;
  variant?: CompVariant;
  [key: string]: any;
};

const { 
  class: className = '', 
  variant = '',
  ...attrs 
}: Props = Astro.props;
---

<button
  class:list={["btn", "btn-" + variant, className]}
  {...attrs}
>
  <slot />
</button>