---
import type { CompVariant } from '@/lib/comps';

export type SelectItem = {
  value: string;
  label: string;
};

type Props = {
  title: string;
  options: SelectItem[];
  variant?: CompVariant;
  class?: string;
  [key: string]: any;
};

const { 
  title, 
  options,
  variant = '',
  class: className = '', 
  ...attrs
} = Astro.props;
---

<select class:list={["select", "select-" + variant, className]} {...attrs}>
  <option selected disabled>{title}</option>
  {options.map(option => (
    <option value={option.value}>{option.label}</option>
  ))}
</select>